<div class="headerMobileBanner">
    <div class="c-header__logo-wrapper" title="Back to scenario selection" ng-click="vm.go('app.mobile.welcome')">
        <div class="c-header__logomark">
            <div ng-repeat="i in [1, 2, 3, 4]" class="logo-block"></div>
        </div>
        <div class="c-header__logotext">MyMoney</div>
        <span ng-if="vm.appState.currentScenario.isDev" class="c-header__dev"
             title="Development Mode:&#10;&bull; Usage not tracked&#10;To exit testing mode, use ?nodev">&nbsp;<i class="fa fa-cog"></i></span>
    </div>
    <a id="c-header__locale" class="c-header__locale hidden" title="Click to change"
       ng-click="vm.go('app.mobile.locale')">
        <span>{{ vm.locale.getLabel }}</span>
        <img class="c-header__flag" src="">
    </a>
    </a>
</div>
