<div class="scenarios" ng-if="vm.appState.localeNotSet == false">
    <style>.mobileButtonContainer {
        display: none;
    }</style>
    <h1>{{ vm.__('Select Scenario') }}</h1>
    <div ng-if="false">
        <label class="c-toggle" for="c-toggle">
            <input ng-show="vm.isDescriptionsEnabled()" ng-click="vm.toggleDescriptions()" id="c-toggle" name="c-toggle"
                   type="checkbox">
            {{vm.__('Show Descriptions')}}
        </label>
    </div>
    <div ng-repeat="scenario in vm.appState.scenarios">
        <div class="scenario-selector" title="{{ scenario.toolTip }}">
            <a id="scenario-{{scenario.name}}" ng-click="vm.selectFlow(scenario)"> </a>
            <h2 class="scenario-title">{{ scenario.scenarioName }}</h2>
            <div ng-if="vm.showDescriptions" class="description">{{scenario.description}}</div>
        </div>
    </div>
</div>
