@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('../fonts/aktivgrotesk-light-webfont.woff2') format("woff2"), url('../fonts/aktivgrotesk-light-webfont.woff') format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('../fonts/aktivgrotesk-regular-webfont.woff2') format('woff2'), url('../fonts/aktivgrotesk-regular-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
