$color--blue: #3e6eb4;
$color--purple-1: #632179;
$color--purple-2: #bb2b7e;
$color--purple-3: #992382;
$t-site-margin: 20px;

$color-green-1: #6DBB17;
$color--green-2: #6DBB17;
$color--green-3: #6DBB17;
$color--green-4: #C4EC9B;
