<div class="screens-container">
    <div class="result-passport" ng-if="vm.appState.currentScenario.showPassport">
        <img ng-src="{{vm.appState.currentScenario.assets}}passport.jpg"/>
    </div>
    <h3>{{vm.__('Contact Information')}}</h3>
    <div class="form-field"
         ng-repeat="contact in vm.appState.currentScenario.form"
         ng-init="delay = [1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000,2100,2200,2300,2400,2500]">
        <input type="text"
               name="{{contact.name}}"
               id="{{contact.name}}"
               placeholder="{{contact.placeholder}}"
               title="{{contact.placeholder}}"
               val={{contact.value}}
               delay={{delay[$index]}}
               delayed-value>
    </div>
    <div ng-if="vm.appState.currentScenario.hasGDC">
        <input type="checkbox"
               name="time_at_address"
               id="time_at_address"
               title="Check this box if you lived less than 3 years at this address">
        <input type="checkbox"
               name="time_at_address"
               id="time_at_address_checked"
               title="Check this box if you lived less than 3 years at this address"
               checked>
        <label for="time_at_address">&nbsp;Less than 3 years at this address?</label>
    </div>

</div>
