<div class="screens-container">
    <div class="loading-wrapper" delayed-display="hide" delay="2000">
        <style> .mobileButtonContainer.dual-button {
            display: none;
        } </style>
        <div ng-if="!vm.isInVision" class="row reviewSpinner">
            <div class="col-xs-12">
                <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
            </div>
        </div>
        <svg ng-if="vm.isInVision" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             style="margin: auto; background: rgba(255, 255, 255, 0); display: block; shape-rendering: auto;"
             width="176px"
             height="176px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <rect fill="#3e6eb4" x="53" y="53" width="32" height="32" rx="8" ry="8">
                <animate attributeName="x" dur="2.1739130434782608s" repeatCount="indefinite"
                         keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" values="15;53;53;53;53;15;15;15;15"
                         begin="-1.9927536231884055s"></animate>
                <animate attributeName="y" dur="2.1739130434782608s" repeatCount="indefinite"
                         keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" values="15;53;53;53;53;15;15;15;15"
                         begin="-1.4492753623188404s"></animate>
            </rect>
            <rect fill="#632179" x="15.3031" y="15" width="32" height="32" rx="8" ry="8">
                <animate attributeName="x" dur="2.1739130434782608s" repeatCount="indefinite"
                         keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" values="15;53;53;53;53;15;15;15;15"
                         begin="-1.2681159420289856s"></animate>
                <animate attributeName="y" dur="2.1739130434782608s" repeatCount="indefinite"
                         keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" values="15;53;53;53;53;15;15;15;15"
                         begin="-0.7246376811594202s"></animate>
            </rect>
            <rect fill="#bb2b7e" x="15" y="53" width="32" height="32" rx="8" ry="8">
                <animate attributeName="x" dur="2.1739130434782608s" repeatCount="indefinite"
                         keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" values="15;53;53;53;53;15;15;15;15"
                         begin="-0.5434782608695652s"></animate>
                <animate attributeName="y" dur="2.1739130434782608s" repeatCount="indefinite"
                         keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" values="15;53;53;53;53;15;15;15;15"
                         begin="0s"></animate>
            </rect>
        </svg>
    </div>

    <div class="success-wrapper" delayed-display="show" delay="2100">
        <h3>{{vm.__('Your application was approved!')}}</h3>
        <div class="check-mark">
            <div ng-if="vm.isInVision" class="c-checkmark-wrapper">
                <svg class="c-checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                </svg>
            </div>
            <i ng-if="!vm.isInVision" class="fa fa-check fa-5x" aria-hidden="true"></i>
        </div>
        <div class="form-field col">
            <p class="app-text">{{vm.__('Application details and instructions for accessing your new account will be emailed shortly.')}}</p>
            <p ng-if="vm.is" class="app-text">App ID: {{ vm.appState.currentScenario.appId }}</p>
        </div>
    </div>
</div>
