<div class="screens-container">
    <div class="result-passport" ng-if="vm.appState.currentScenario.showPassport">
        <img ng-src="{{vm.appState.currentScenario.assets}}passport.png" />
    </div>
    <h3>Contact Information</h3>
    <div class="form-field" ng-repeat="contact in vm.appState.currentScenario.form">
        <input type="text" 
                name="{{contact.label}}"
                id="{{contact.label}}"
                placeholder="{{contact.placeholder}}"
                val={{contact.value}}
                delay={{contact.delay}}
                delayed-value />
    </div>    
</div>
